@import "CSS Snippets/keyframes animations.css";
@import "CSS Snippets/side panel.css";
@import "CSS Snippets/base.css";

.bg {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 800px;
    object-fit: contain;
    z-index: 1;
    animation: bg-animation 4s, bg-cycle-animation 8s infinite;
    animation-timing-function: ease-in-out;
    top: 50%;
    left: 80%;
  }

@font-face {
    font-family: Cantique;
    src: url(Cantique-Normal.otf);
  }

.text{
  animation: text-animation 3s;
  animation-timing-function: ease-in-out;
  font-family: Cantique;
  font-weight: normal;
  position: absolute;
  line-height: 20px;
  color: #fff;
  left: 130px;
  z-index: 2;
}

.h1{
  font-size: 48px;
  top: 12%;
}

.h2{
  font-size: 18px;
  top: 30%
}

.h3{
  font-size: 14px;
  top: 60%;
}

.bg-text{
  z-index: 2;
  font-size: 48px;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 72%;
  line-height:120px;
}

.bg-text1{
  z-index: 2;
  font-size: 46px;
  transform: translate(-50%, -50%);
  top: 50%;
  left:96%;
  line-height:30px;
}

.h4{
  font-size: 12px;
}

.author{
  top: 19%;
}

.download{
  top: 85%;
}

.link{
  color: #ff1416;
}